#full-export {
  font-size: 7px;
  padding: 0.5rem;
}

#full-export table {
  border-collapse: collapse;
  width: 100%;
  font-size: 7px;
  table-layout: fixed;
}

#full-export th,
#full-export td {
  border: 1px solid #ccc;
  padding: 1px;
  height: 18px;
  line-height: 1.1;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
}

#full-export .hour-cell {
  background-color: #e1e1e1;
  font-weight: bold;
  width: 35px;
  white-space: nowrap;
}
#full-export td.half-slot.no-top-border {
  border-top: none !important;
}

#full-export td.half-slot.no-bottom-border {
  border-bottom: none !important;
}
