#full-export {
  padding: 1rem;
  font-family: sans-serif;
  font-size: 12px;
}
#full-export table {
  border-collapse: collapse;
  width: 100%;
  font-size: 10px;
}

#full-export th,
#full-export td {
  border: 1px solid #ccc;
  padding: 2px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
}

#full-export .hour-cell {
  font-weight: bold;
  background-color: #e1e1e1;
  text-align: center;
  width: 40px;
  white-space: nowrap;
}

#full-export th {
  background-color: #e1e1e1;
  font-weight: bold;
}

#full-export td {
  height: 30px;
  min-width: 80px;
}

/* Print-specific rules */
@media print {
  body {
    -webkit-print-color-adjust: exact !important;
  }

  #full-export {
    page-break-inside: avoid !important;
  }

  table,
  tr,
  td,
  th {
    page-break-inside: avoid !important;
  }
}
